/* Header Starts */

.head-div {
    background: #F14668;
    width: 100%;
    height: 120px;
}

.shade {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);
    height: 100%;
}

.app-title p {
    font-family: 'Pacifico', cursive;
    font-size: 400%;
    font-weight: bold;
    color: white;
    text-align: center;
}

.app-title span {
    font-family: 'Monoton', cursive;
    font-weight: 400;
}


/* Header Ends */


/* Form Division Starts */

.form-div {
    background: #F14668;
    width: 100%;
    height: 550px;
    margin: 20px 0;
}


/* Form Division Ends */


/* Footer Starts */

.footer-div {
    background: #F14668;
    width: 100%;
    height: 200px;
}

.shade-b {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
    height: 100%;
}

.copyright-text {
    padding: 70px;
}

.copyright-text p {
    text-align: center;
    color: white;
}

.copyright-text a {
    text-decoration: none;
    color: white;
    font-family: 'Monoton', cursive;
}


/* Footer Ends */